In [3]:
# Verifies that CSV file is up-to-date (else: D/L from Land Registry server)

from initalisation import check_vers

url = 'http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-complete.csv'
dest = 'C:/Users/jamie/OneDrive/Python/Py_24/Docker/Data/'

check_vers(url,dest)

Server file is 5.1521 GB
Local file is 5.1521 GB
Local file is up-to-date

In [4]:
# Copy local file into Docker volume

from initalisation import copy_file_to_docker_volume

file_name = "26_10_2024"+"_pricepaid_complete"

copy_file_to_docker_volume(file_name+".csv",
                           container_name = "110e4f0dab4e",
                           local_path = "C:/Users/jamie/OneDrive/Python/Py_24/Docker/Data/",
                           mount_path = "/var/lib/mysql-files")

Successfully copied C:/Users/jamie/OneDrive/Python/Py_24/Docker/Data/ to path /var/lib/mysql-files (container 110e4f0dab4e)

In [4]:
from initalisation import sql_commitchanges

file_name = "26-10-2024-"+"pricepaid_complete"

base = 'CREATE TABLE'+' `'+file_name.replace('_','')+'` '

fd = open('load_dat.sql','r')
sqlFile = fd.read()
fd.close()

query=base+sqlFile

sql_commitchanges(query)

In [18]:
# LOAD DATA INFILE "/var/lib/mysql-files/26_10_2024_pricepaid_complete.csv"
mount_path = "/var/lib/mysql-files"
start = "LOAD DATA INFILE "+"'"+mount_path+"/"+file_name+".csv"+" "
mid = "INTO TABLE "+file_name.replace('_','')+" "
end = """COLUMNS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"' ESCAPED BY '"' LINES TERMINATED BY '\n'"""

In [19]:
start+mid+end

'LOAD DATA INFILE \'/var/lib/mysql-files/26-10-2024-pricepaid_complete.csv INTO TABLE 26-10-2024-pricepaidcomplete COLUMNS TERMINATED BY \',\' OPTIONALLY ENCLOSED BY \'"\' ESCAPED BY \'"\' LINES TERMINATED BY \'\n\''

In [23]:
sqlFile

'(`tx_id` varchar(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`price_gbp` int DEFAULT NULL,\n`date` date DEFAULT NULL,\n`postcode` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`prop_type` varchar(1) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`new_build` varchar(1) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`estate_type` varchar(1) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`1_building_name_no` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`2_building_name_no` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`3_street` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`4_locality` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`5_town_city` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`6_district` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`7_county` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,\n`COL 15` varchar(1) DEFAULT NULL,\n`COL 16` varchar(1) DEFAULT NULL)'

In [13]:
sqlFile.replace('\n','')

'(`tx_id` varchar(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`price_gbp` int DEFAULT NULL,`date` date DEFAULT NULL,`postcode` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`prop_type` varchar(1) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`new_build` varchar(1) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`estate_type` varchar(1) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`1_building_name_no` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`2_building_name_no` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`3_street` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`4_locality` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`5_town_city` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`6_district` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`7_county` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,`COL 15` varchar(1) DEFAULT NULL,`COL 16` varchar(1) DEFAULT NULL)'

In [ ]:
#docker cp ./26_10_2024_pricepaid_complete.csv 110e4f0dab4e:/var/lib/mysql-files/

In [ ]:
# LOAD DATA INFILE "/var/lib/mysql-files/26_10_2024_pricepaid_complete.csv"
# INTO TABLE 26102024pricepaidcomplete
# COLUMNS TERMINATED BY ','
# OPTIONALLY ENCLOSED BY '"'
# ESCAPED BY '"'
# LINES TERMINATED BY '\n'